@font-face {
  font-family: 'TitleCustomFont';
  src: url('Nexa-Heavy.ttf');
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
header {
  padding-top:10px;
  padding-bottom: 10px;
  display:flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom:0.3px solid rgb(215, 215, 215);
}
main {
  max-width: 900px;
  margin: 0px auto;
}
.bodyContainer, .lr {
  max-width: 900px;
  padding-left:15px;
  padding-right: 15px;
}

header a {
  color:#333;
  text-decoration: none;
}
.logo {
  font-weight: 600;
  font-size: 25px;
  height:30px;
  font-family: 'TitleCustomFont';
}

nav {
  display:flex;
  gap:10px;
}
.postcard {
  display:grid;
  grid-template-columns: 0.4fr 1fr;
  gap: 5%;
  height:190px;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
  border-bottom:0.3px solid rgb(215, 215, 215);
}
.postcard:hover {
  cursor: pointer;
}
.postcard h1 {
  margin-top: 0px;
  font-size: 25px;
  margin-bottom: 5px;
}
.postCardImage {
  height: 150px;;
}
.author {
  margin-top:10px;
  color:#666;
  display:flex;
  gap:10px;
  flex-wrap: wrap;
  font-family: sans-serif;
  margin-bottom: 0px;
}
.author .user {
  color:#000000;
}
.summary {
  color:#333;
  margin-bottom: 0px;
  margin-top: 20px;
}
.postTitle {
  color:black;
  text-decoration: none;
  font-size:20px;
  font-weight: 900;
  font-family:  'TitleCustomFont' ;
}
.postPageT {
  font-size: 40px;
}
.postText {
  height:fit-content;
  max-width:100%;
  line-height: 23px;
  margin-top: 5px;
}
.summary {
  color:#333;
  font-family: helvetica;
  font-size: 16px;
  text-decoration: none;
}
.postInfo {
  height:100%;
}
.lr {
  max-width:400px;
  margin:0px auto;
  text-align: center;
}


textarea, .inputForm, #inputS1, #inputS2, #inputS3 {
   display: block;
   width:100%;
   height: 50px;
   padding: 6px 10px;
   margin: 10px 0px;
   border:0px;
   border-bottom: 2px solid #666;
   font-size: 15px;
}
#inputS1, #inputS2 {
  width:45%;
}
#inputS3 {
  width:70%;
}
.formDiv {
  width:100%;
  height:fit-content;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
textarea:focus, input:focus {
  outline: none;
  background-color: #dfdfdf;
}
.editor {
  font-size: 17px;
}
.editBox {
  display:flex;
}
.submit, .sendCode, .prev, .next, .unclickable {
  width: 100%;
  color:white;
  background-color:#ff3d00;
  height: 40px;
  margin-top: 10px;
  place-self: center;
  border:none;
}
.sendCode, #sendCode{
  width: fit-content;

}
.prev {
  background-color: transparent;
  color:#333;
}
.unclickable {
  background-color: rgb(196, 196, 196);
  color:white;
}
#next {
  width:40%;
}
.prev, .next {
  width:40%;
}
.prev:hover {
  background-color: #707070;
  color:rgb(198, 198, 198);
  cursor: pointer;
}
.submit:hover, .next:hover, .sendCode:hover  {
  cursor: pointer;
  background-color:#c03409;
  box-shadow: 0px 0px 10px rgb(145, 145, 145);
}
.delete {
  width: 100%;
  color:rgb(245, 0, 0);
  background-color: white;
  height: 40px;
  margin-top: 10px;
  place-self: center;
  border:none;
  border:0.5px solid grey;
}
.delete:hover {
  cursor: pointer;
  background-color: #9f0707;
  color:white;
  border:none;
}

.logButton {
  background-color: white;
  color:#333;
  padding: 1px 10px;
  place-content: center;
  border: none;
  height:30px;
  font-family: helvetica;
  font-size: 17px;
}
.logButton:hover {
  background-color: #9e9e9e;
  color:white;
  cursor: pointer;
}
.regButton {
  height:30px;
  font-size: 17px;
  border: none;
  padding: 1px 10px;
  place-content: center;
  background-color:#ff3d00;
  text-align: center;
  color:white;
  font-family: helvetica;
}
.writeButton {
  height:30px;
  font-size: 17px;
  width: fit-content;
  height:fit-content;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: helvetica;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #d3d3d3;
  place-content: center;
  padding-top: 4px;
  padding-bottom: 4px;
}
.regButton:hover {
  background-color: #b92b00;
}
.userHeader {
  width:30px;
  height:30px;
}
.m-userHeader {
  width:45px;
  height:45px;
}
.userHeader:hover, .m-userHeader:hover {
  cursor: pointer;
  opacity: 50%;
}
.postView {
  padding: 12px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 0px;
  padding-bottom: 20px;
}
.ppImage {
  max-width:800px;
  height:130px;
  display:flex;
  border-bottom:0.3px solid rgb(215, 215, 215);
  padding-bottom: 20px;
}
.blogPageImage {
  object-fit:cover;
  width:100%;
  height:100%;
}
.footer {
  border-top:1px solid rgb(157, 157, 157);
  height:90px;
  text-align: center;
  background-color: white;
  width:100%;
  display:flex;
  gap: 10px;
  place-content: center;
  margin-top: 30px;
}
.footerText {
  color:rgb(59, 59, 59);
  margin-top: 20px;
  text-decoration: none;
  font-size: 13px;
  font-family: helvetica;
}

.footerText:hover {
  text-decoration: underline;
  color:black;
}
.editor {
  min-height: 200px;
  font-size: 20px;
  color:red;
}
.warning {
  width:100%;
  font-size:12px;
  font-weight: 600;
  color:red;
  display:flex;
  flex-direction: row;
  justify-content: left;
  visibility: visible;
}
.warningOff {
  visibility: hidden;
}
.postContent {
  font-size:16px;
  font-weight: 500;
}
.headerIcon {
  height:20px;
  width:23px;
}
.mobileNav {
  display:none;
}
.hamClose {
  height:500px;
  width:70%;
  position: absolute;
  right:10px;
  margin-top: 10px;
  background-color: #fefefe;
  box-shadow: 0px 0px 5px rgb(173, 173, 173);
  display:none;
}
.hamOpen {
  height:500px;
  width:70%;
  position: absolute;
  right:10px;
  margin-top: 10px;
  background-color: #fefefe;
  box-shadow: 0px 0px 5px rgb(173, 173, 173);
  display: block;
}
.m-navbox {
  height:fit-content;
  display:flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom:0.3px solid rgb(215, 215, 215);
}
.hamNav {
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.m-writeButton, .m-logButton, .m-profileButton {
  display:flex;
  flex-direction: row;
}
.hamtext {
  margin-left: 15px;
}
.pp-author {
  display:flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: -25px;
  border-bottom:0.3px solid rgb(215, 215, 215);
  padding-bottom: 15px;
}
.pp-user {
  color:black;
  font-family: helvetica;
  margin-top: 0px;
  margin-bottom: 5px;
}
.pp-tt {
  font-family: 'TitleCustomFont';
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
  margin-top: 30px;
  padding: 15px 0px;
  border-bottom:0.3px solid rgb(215, 215, 215);
}
.pr-body {
  padding:0px 15px;
  margin-top: 10px;
}
.pr-top {
  height:fit-content;
  display:flex;
  flex-direction: row;
  padding-bottom: 20px;
}
.pr-text {
  display:flex;
  flex-direction: column;
  margin-left: 30px;
  padding-top: 14px;
}
.pr-header {
  height:80px;
  width: 80px;
  border-radius: 50%;
  background-color: grey;
}
.pr-name {
  font-family: 'TitleCustomFont';
  font-size: 17px;
}
.pr-fname {
  font-family: 'TitleCustomFont';
  font-size: 21px;
}
.pr-join {
  font-family: helvetica;
  font-size: 14px;
  color:grey;
}
.pr-table {
  height:fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  border:0.3px solid rgb(215, 215, 215);
  text-align: center;
  font-family: helvetica;
}
.pr-bbox {
  height:fit-content;
  padding-bottom: 10px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: helvetica;
}
.pr-button {
  border:1px solid rgb(176, 176, 176);
  height:30px;
  width:fit-content;
  background-color: transparent;
  font-size: 14px;
  font-family: helvetica;
  color:black;
  padding-left: 7px;
  padding-right: 7px;
}
.pr-b {
  text-decoration: none;
  color:black;
}
.pr-button:hover {
  background-color: #00000044;
  cursor: pointer;
  font-family: helvetica;
}
.rs-body {
  height:500px;
  width:100%;
  display:flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
  font-family: helvetica;
  font-size: 16px;
  font-weight: 600;
  color:grey;
}
.rs-count {
  color:red;
  font-size: 20px;
}
.loaderOpen {
  height:450px;
  display:flex;
  flex-direction: row;
  place-content: center;
}
.loaderClose {
  display: none;
}
.loading {
  width:30px;
  height: 30px;
  border: 5px solid white;
  border-radius: 50%;
  animation-name: loader;
  animation-duration:0.4s;
  animation-iteration-count: infinite;
  margin-top: 15px;
  display:block;
}
.nloading {
  display:none;
}
.errLoading {
  font-family: helvetica;
  color:red;
  margin-top: 30px;
}
.postBottom {
  border-top:0.3px solid rgb(215, 215, 215) ;
  padding-top: 10px;
  display:flex;
  flex-direction: row;
  justify-content: right;
}
.editPost {
  text-decoration: none;
  color: grey;
  font-family: helvetica;
  padding-left: 10px;
  padding-right: 10px;
  border:none;
  font-size: 17px;
  background-color: transparent;
  margin-left: 10px;
  height: 20px;
}
.editPost:hover {
 color:black;
 cursor: copy;
 border-color: #000000;
}
.notButton {
  border:1px solid;
  position: absolute;
  background-color: rgb(238, 238, 238);
  font-size: 14px;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  display:block;
}
.notOff {
  display:none;
}
.signtext {
  color:grey;
}
.time {
  color:rgb(167, 167, 167);
  font-size: 14px;
}
.regOff, .erOff {
  display:none;
}
.regOn, .erOn {
  display:block;
}
.counterOn {
  display: block;
  font-size: 14px;
  font-family: helvetica;
  color:#5a5a5a;
  visibility: visible;
}
.counterOff {
  visibility: hidden;
}
.erText {
  color:#b36047;
  font-weight: 600;
  font-family: helvetica;
}
.ep-box {
  display: flex;
  place-content: center;
  flex-direction: column;
}
.ep-box form {
  padding-left: 20px;
  padding-right: 20px;
}
.pr-bio {
  text-align: center;
  padding-bottom: 15px;
}
.ep-tt {
  font-family: helvetica;
  font-size: 15px;
}
.ep-top {
  display:flex;
  place-content: center;
}
.dp-input {
  position: absolute;
  width:100px;
  opacity: 0%;
}
.dp-menu {
  height:fit-content;
  width:fit-content;
  display: flex;
  flex-direction: column;
  height: fit-content;
  position: absolute;
  margin-left: 100px;
  margin-top: 40px;
  background-color: #fefefe;
  box-shadow: 0px 0px 5px rgb(173, 173, 173);
}
.dp-menu-off {
  display:none;
}
#dp-del {
  color:red;
}
#dp-cl {
  font-size: 18px;
  text-align: center;
  width:fit-content;
  height: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 80px;
  height:fit-content;
}
.dp-op {
  width:100px;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 3px;
  border-top:0.3px solid rgb(215, 215, 215) ;
  font-family: helvetica;
}
.dp-op:hover{
  opacity: 30%;
  cursor: pointer;
}
.dp-input:hover {
  cursor: pointer;
}
.dp-button {
  height:80px;
  width:80px;
  font-size: 60px;
  font-weight:100;
  border-radius: 50%;
  position: absolute;
  opacity: 0%;
}
.dp-button:hover {
  opacity: 50%;
  cursor: pointer;
}
.ep-save {
  width:100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 17px;
  margin-top: 20px;
  border:1px solid grey;
  background-color:transparent ;
  color:black;
}
.ep-save:hover {
  background-color: rgb(185, 185, 185);
  cursor:pointer;
}
.backbutton {
  border:1px solid grey;
  width:fit-content;
  padding-left: 10px;
  padding-right: 15px;
  margin-left: 20px;
  text-decoration: none;
  color:black;
}
.backbutton:hover {
  background-color: rgb(202, 202, 202);
}
.note {
  Border:none;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  position:absolute;
  margin-top: 50px;
  margin-left: -20px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgb(173, 173, 173);
  background-color: white;
  display:block;
}
.noteOff {
  display:none;
}
#pr-share {
  display:flex;
  flex-direction: column;
  place-content: center;
}
.c-box  {
  padding-left: 15px;
  padding-right: 15px;
  height:fit-content;
  text-align: center;
  display:flex;
  flex-direction: column;
  padding-bottom: 230px;
}
.c-head {
  font-size: 24px;
  font-family: 'TitleCustomFont';
  font-weight: 600;
  border-bottom:0.3px solid rgb(215, 215, 215) ;
  padding-bottom: 5px;
}
.c-text {
  color:rgb(74, 74, 74);
  margin-top: 10px;
  font-family: helvetica;
  line-height: 23px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}
.c-sh {
  font-size: 18px;
  font-family: helvetica;
  font-weight: 600;
  text-align: left;
  margin: 10px;
  color:rgb(71, 71, 71);
}


@keyframes loader {
  20% { rotate:72deg ;
        border-bottom: 5px solid grey;
      }
  40% { rotate:144deg;
        border-left: 5px solid grey;
      }
  60% { rotate: 216deg;
        border-top:5px solid grey;
        border-bottom: 5px solid white;
      }
  80% { rotate: 288deg;
      border-right:5px solid grey;
      border-left: 5px solid white;
  }
  100% { rotate: 360deg;
      border-top:5px solid white;
      border-right: 5px solid white;
  }
}

@media (max-width:700px) {
  .c-box {
    padding-bottom: 15px;
  }
  .desktopNav {
    display:none;
  }
  .mobileNav {
    display:block;
  }
  .postcard {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 0.5fr;
    gap: 0px;
    height:fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .postCardImage {
    height:180px;
  }
  header {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
  }
  .regButton, .logButton {
    width: fit-content;
    padding:5px 50px;
    margin-top: 0px;
    margin-bottom: 10px;
    place-self: center;
  }
}