@font-face {
  font-family: 'TitleCustomFont';
  src: url('Nexa-Heavy.ttf');
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
header {
  padding-top:10px;
  padding-bottom: 10px;
  display:flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom:0.3px solid rgb(215, 215, 215);
}
main {
  max-width: 900px;
  margin: 0px auto;
}
.bodyContainer, .lr {
  max-width: 900px;
  padding-left:15px;
  padding-right: 15px;
}

header a {
  color:#333;
  text-decoration: none;
}
.logo {
  font-weight: 600;
  font-size: 25px;
  height:30px;
  font-family: 'TitleCustomFont';
}

nav {
  display:flex;
  gap:10px;
}
.postcard {
  display:grid;
  grid-template-columns: 0.4fr 1fr;
  gap: 5%;
  height:190px;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
  border-bottom:0.3px solid rgb(215, 215, 215);
}
.postcard:hover {
  cursor: pointer;
}
.postcard h1 {
  margin-top: 0px;
  font-size: 25px;
  margin-bottom: 5px;
}
.postCardImage {
  height: 150px;;
}
.author {
  margin-top:10px;
  color:#666;
  display:flex;
  gap:10px;
  flex-wrap: wrap;
  font-family: sans-serif;
  margin-bottom: 0px;
}
.author .user {
  color:#000000;
}
.summary {
  color:#333;
  margin-bottom: 0px;
  margin-top: 20px;
}
.postTitle {
  color:black;
  text-decoration: none;
  font-size:20px;
  font-weight: 900;
  font-family:  'TitleCustomFont' ;
}
.postPageT {
  font-size: 40px;
}
.postText {
  height:fit-content;
  max-width:100%;
  line-height: 23px;
  margin-top: 5px;
}
.summary {
  color:#333;
  font-family: helvetica;
  font-size: 16px;
  text-decoration: none;
}
.postInfo {
  height:100%;
}
.lr {
  max-width:400px;
  margin:0px auto;
  text-align: center;
}


input {
   display: block;
   width:100%;
   height: 40px;
   padding: 6px 10px;
   margin: 10px 0px;
   border:0px;
   border-bottom: 2px solid #666;
}
input:focus {
  outline: none;
  background-color: #dfdfdf;
}
.editBox {
  display:flex;
}
.submit {
  width: 100%;
  color:white;
  background-color: #333;
  height: 40px;
  margin-top: 10px;
  place-self: center;
  border:none;
}
.submit:hover {
  cursor: pointer;
  background-color: #151515;
}
.delete {
  width: 100%;
  color:white;
  background-color: #e02929;
  height: 40px;
  margin-top: 10px;
  place-self: center;
  border:none;
}
.deletet:hover {
  cursor: pointer;
  background-color: #7e0a0a;
}

.logButton {
  background-color: white;
  color:#333;
  padding: 1px 10px;
  place-content: center;
  border: none;
  height:30px;
  font-family: helvetica;
  font-size: 17px;
}
.logButton:hover {
  background-color: #9e9e9e;
  color:white;
  cursor: pointer;
}
.regButton {
  height:30px;
  font-size: 17px;
  border: none;
  padding: 1px 10px;
  place-content: center;
  background-color:#ff3d00;
  text-align: center;
  color:white;
  font-family: helvetica;
}
.writeButton {
  height:30px;
  font-size: 17px;
  width: fit-content;
  height:fit-content;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: helvetica;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #d3d3d3;
  place-content: center;
  padding-top: 4px;
  padding-bottom: 4px;
}
.regButton:hover {
  background-color: #b92b00;
}
.userHeader {
  width:30px;
  height:30px;
}
.m-userHeader {
  width:40px;
  height:40px;
}
.userHeader:hover {
  cursor: pointer;
  opacity: 50%;
}
.postView {
  padding: 12px;
}
.ppImage {
  max-width:700px;
  height:200px;
  display:flex;
}
.blogPageImage {
  object-fit:cover;
  width:100%;
  height:100%;
}
.footer {
  border-top:1px solid rgb(157, 157, 157);
  height:90px;
  text-align: center;
  background-color: white;
  width:100%;
  display:flex;
  gap: 10px;
  place-content: center;
  margin-top: 30px;
}
.footerText {
  color:rgb(59, 59, 59);
  margin-top: 20px;
  text-decoration: none;
  font-size: 13px;
  font-family: helvetica;
}

.footerText:hover {
  text-decoration: underline;
  color:black;
}
.editor {
  min-height: 200px;
}
.warning, .textCounter {
  font-size:12px;
  font-weight: 600;
  color:#666;
}

.warning {
  color:red;
}
.textCounter {
  color:#666;
}
.counterBox {
  width:100%;
  text-align: right;
  height:10px;
  padding:0px;
}
.postContent {
  font-size:16px;
  font-weight: 500;
}
.headerIcon {
  height:20px;
  width:23px;
}
.mobileNav {
  display:none;
}
.hamClose {
  height:500px;
  width:70%;
  position: absolute;
  right:-70%;
  margin-top: 10px;
  background-color: #fefefe;
  box-shadow: 0px 0px 5px rgb(173, 173, 173);
}
.hamOpen {
  height:500px;
  width:70%;
  position: absolute;
  right:10px;
  margin-top: 10px;
  background-color: #fefefe;
  box-shadow: 0px 0px 5px rgb(173, 173, 173);
}
.m-navbox {
  height:fit-content;
  display:flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom:0.3px solid rgb(215, 215, 215);
}
.hamNav {
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.m-writeButton, .m-logButton, .m-profileButton {
  display:flex;
  flex-direction: row;
}
.hamtext {
  margin-left: 15px;
}

@media (max-width:700px) {
  .desktopNav {
    display:none;
  }
  .mobileNav {
    display:block;
  }
  .postcard {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 0.5fr;
    gap: 0px;
    height:fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .postCardImage {
    height:180px;
  }
  header {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
  }
  .regButton, .logButton {
    width: fit-content;
    padding:5px 50px;
    margin-top: 0px;
    margin-bottom: 10px;
    place-self: center;
  }
}